.container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-container {
  display: flex;
  justify-content: center;
  height: 150px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
}
.card-container:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  filter: brightness(1.1);
}