
#table2{
    box-shadow: 2px 2px rgb(162, 160, 159);
    
}
th,td{
    text-align: center;
}
 

 .table-container { 
    display: flex; 
    justify-content: space-between; 
    margin: 20px; 
   
} 
#bt1{
    border-radius: 20px;
    width: 100px;
    margin-left: 300px;
    background-color:  #5BD3C7;
}

#bt2{
    border-radius: 20px;
    width: 100px;
    margin-left: 450px;
    background-color:  #5BD3C7;
}
#bt3{
    border-radius: 20px;
    width: 100px;
    margin-right: 10px;
    background-color:  #5BD3C7;
}
#button{
    background-color:  #5BD3C7
}
#tracknav{
    text-decoration: none;
    color: black;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-out;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 610px;  /* Match the height of your component for a full takeover */
    background-color: #E0E4EE;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #5BD3C7;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }
