.log-container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .table-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .center {
    text-align: center;
  }
  
  .book-list {
    list-style-type: none;
    padding: 0;
  }
  
  .book-list li {
    margin-bottom: 5px;
  }
  
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 610px;  /* Match the height of your component for a full takeover */
  background-color: #E0E4EE;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #5BD3C7;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}
